<a href="https://colab.research.google.com/github/sgfantastic/example-voting-app/blob/master/Awesome.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
9 + 0

9

In [ ]:
x =7
y = 9.9
%whos

Variable   Type     Data/Info
-----------------------------
x          int      7
y          float    9.9

In [ ]:
c = x+ y + 99
print(c)
4/9
3**8
k = input("whats the number")
print(float(k))

115.9
whats the number88
88.0

learning Lists

In [ ]:
alist = [1,4,9]
%whos

Variable   Type     Data/Info
-----------------------------
alist      list     n=3
c          float    115.9
k          str      88
x          int      7
y          float    9.9

In [ ]:
atuple = (9,9,8)
atuple[0] = 99

TypeError: 'tuple' object does not support item assignment

In [ ]:
adict = {'name': 'farhan', 'agerange':[20,50]}
adict.keys()
#indexing yo
arange = range(9)
sx = list(arange)
sx
ys = list(range(9,15))
print(ys)
ys[::2]

[9, 10, 11, 12, 13, 14]

[9, 11, 13]

In [ ]:
stock_prices = [('apple',300),('msft',990)]

In [2]:
import sympy as sym
sym.init_printing()
sym.sqrt(2)

√2

In [1]:
import sympy as sym
import numpy as np
sym.init_printing()
from IPython.display import display,Math
x,y = sym.symbols('x,y')
mu,alpha, sigma = sym.symbols('mu,alpha,sigma')
display(sym.sqrt(x) * sym.sqrt(y))
display(sym.sqrt(4) * sym.sqrt(x))
expr = sym.exp((mu-alpha)**2 / (2*sigma**2))
display(expr)

√x⋅√y

2⋅√x

         2
 (-α + μ)
 ─────────
       2
    2⋅σ
ℯ

In [2]:
expr = x + 99
expr.subs(x,9)

108

In [3]:
expr = x**2 + 4
display(Math('with x=-2, x ^ 2+4 \\quad \\rightarrow \\quad -2 ^2+4 = 8'))

In [4]:
def locate_cards(cards, query):
  pass

result = locate_cards(cards,query)
cards = [13,11,10,7,4,3,1,0]
query = 7
output = 3